@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap');
@import "common/reset.scss";

main{
    position: relative;
    width: 100%;
    display: flex;
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 15%;
        height: 100vh;
        background-color: #274c77;
        > .imgBox{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            height: 200px;
            border-radius: 30px;
            overflow: hidden;
            background-color: #527aa7;
            img{
                padding: 10px;
                border-radius: 30px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        #gnb{
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            gap: 20px;
            > .txtBox{
                > span{
                    font: bold 20px/1 "맑은 고딕";
                    color: #fff;
                    cursor: pointer;
                    opacity: 0.7;
                    &.on{
                        color: #ddd;
                        opacity: 1;
                    }
                    &:hover{
                        color: #ccc;
                    }
                }
            }
        }
    }
    > section{
        position: absolute;
        top: 0;
        right: 0;
        width: 85%;
        > article{
            width: 100%;
            height: 100vh;
            background-color: #e7ecef;
            border-bottom: 1px solid #777;
            display: flex;
            justify-content: center;
            align-items: center;
            > .inner{
                width: 80%;
                height: 80%;
            }
            &.home{
                padding: 15% 0px;
                > .inner{
                    h1{
                        font: bold 80px/1 "Saira Extra Condensed";
                        letter-spacing: 1px;
                        .name{
                            color: #6096ba;
                        }
                    }
                    h2{
                        margin-top: 15px;
                        font: 24px/1 "맑은 고딕";
                        color: #555;
                        letter-spacing: -2px;
                    }
                    > .txtBox{
                        margin-top: 30px;
                        p{
                            margin-top: 15px;
                            font: 18px/1 "맑은 고딕";
                            letter-spacing: -2px;
                            color: #555;
                        }
                    }
                    > .social_icons{
                        margin-top: 50px;
                        display: flex;
                        gap: 30px;
                        a{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            background-color: #222;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                font-size: 30px;
                                color: #ddd;
                            }
                        }
                    }
                }
            }
            &.about{
                > .inner{
                    padding: 20px 0;
                    position: relative;
                    h1{
                        font: bold 50px/1 "Saira Extra Condensed";
                        letter-spacing: -1px;
                    }
                    > .conBox{
                        padding: 50px 10px;
                        display: flex;
                        .slide{
                            width: 450px;
                            height: 450px;
                            border: 1px solid #bbb;
                            background-color: #fff;
                            overflow: hidden;
                            transform: translate(0);
                            > .imgBox{
                                width: 400%;
                                height: 100%;
                                transition: transform 1s;
                                display: flex;
                                li{
                                    width: 25%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img{
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                        
                        > .content{
                            > .txtBox{
                                padding: 20px 80px;
                                height: 50%;
                                display: flex;
                                flex-direction: column;
                                gap: 30px;
                                div{
                                    display: flex;
                                    dt{
                                        width: 110px;
                                        font: bold 20px/1 "맑은 고딕";
                                        color: #6096ba;
                                    }
                                    dd{
                                        font: 20px/1 "맑은 고딕";
                                        color: #555;
                                        span{
                                            display: block;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                            > .btnBox{
                                height: 50%;
                                padding: 20px 80px;
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                > .btn{
                                    width: 100px;
                                    height: 100px;
                                    display: flex;
                                    gap: 5px;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #6096ba;
                                    border-radius: 50%;
                                    transition: 0.5s;
                                    > .imgBox{
                                        width: 45px;
                                        height: 45px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        i{
                                            font-size: 45px;
                                            color: #fff;
                                        }
                                    }
                                    span{
                                        font: 18px/1 "맑은 고딕";
                                        color: #fff;
                                    }
                                    &:hover{
                                        background-color: #a3cef1;
                                        > .imgBox{
                                            i{
                                                color: #274c77;
                                            }
                                        }
                                        span{
                                            color: #274c77;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    
                }
            }
            &.resume{
                .inner{
                    padding: 20px 0;
                    position: relative;
                    h1{
                        font: bold 50px/1 "Saira Extra Condensed";
                        letter-spacing: -1px;
                    }
                    .tab{
                        position: relative;
                        background-color: #fff;
                        margin-top: 20px;
                        padding: 20px 20px 10px;
                        border-radius: 5px;
                        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05) ;
                        &.active{
                            .content{
                                margin: 10px 40px 0 40px;
                                padding: 10px;
                                height: auto;
                                transform: scaleY(1);
                            }
                        }
                        label{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            h2{
                                width: 40px;
                                height: 40px;
                                background-color: #333;
                                color: #fff;
                                padding: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                                border-radius: 5px;
                                margin-right: 10px;
            
                            }                              
                            h3{
                                position: relative;
                                font-weight: 500;
                                color: #333;
                                z-index: 10;
                            }
                            &::after{
                                content: "+";
                                position: absolute;
                                right: 20px;
                                font-size: 32px;
                                color: rgba(0, 0, 0, 0.2);
                                transition: all 1s;
                            }
                        }
                        .content{
                            height: 0;
                            transform-origin: top center;
                            transform: scaleY(0);
                            transition: 0.5s;
                            overflow: hidden;
                            background-color: #f9f9f9;
                            margin: 10px 40px 0 40px;
                            padding: 0 10px;
                            ul{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                li{
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    font: 18px/1 "맑은 고딕";
                                    letter-spacing: -1px;
                                    color: #333;     
                                    span{
                                        font: 16px/1 "맑은 고딕";
                                        color: #777;
                                    }
                                }
                            }
                            .con{
                                h4{
                                    background-image: url(../img/promotion_dot.gif);
                                    background-repeat: no-repeat;
                                    background-position-y: center;
                                    padding-left: 10px;
                                    color: bold 20px/1 "맑은 고딕";
                                    letter-spacing: -1px;
                                    margin-bottom: 5px;
                                }
                                p{
                                    padding-left: 30px; 
                                    padding: 10px 30px 10px;
                                    font: 14px/1 "맑은 고딕";
                                    color: #555;
                                    letter-spacing: -1px;
                                    a{
                                        color: inherit;
                                        &:hover{
                                            color: #000;
                                            border-bottom: 1px solid #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.skills{
                .inner{
                    padding: 20px 0;
                    position: relative;
                    h1{
                        font: bold 50px/1 "Saira Extra Condensed";
                        letter-spacing: -1px;
                    }
                    > .con{
                        width: 90%;
                        height: calc(100% - 50px);
                        margin: 0 auto;
                        .bar{
                            width: 80%;
                            height: 75px;
                            margin: 20px auto;
                            position: relative;
                            h5{
                                position: absolute;
                                top: 10%;
                                left: 0;
                                font: normal 16px/1 "맑은 고딕";
                                letter-spacing: -1px;
                            }
                            .progress{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 35px;
                                background-color: #527aa7;
                                border-radius: 7px;
                                // transition: 2s;
                                z-index: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                color: #fff;
                            }
                            .frame{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 35px;
                                background-color: #ddd;
                                border-radius: 7px;
                            }
                            .ex{
                                display: flex;
                                h6{
                                    margin-top: 10px;
                                    font: bold 24px/1 "맑은 고딕";
                                    color: #527aa7;
                                    letter-spacing: -2px;
                                    // margin-bottom: 20px;
                                }
                                p{
                                    padding: 0 20px;
                                    font: normal 14px/1.6 "맑은 고딕";
                                    letter-spacing: -1px;
                                    color: #777;
                                }
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 0%;
                                overflow: hidden;
                                background-color: #e7ecef;
                                z-index: 2;
                                padding: 0 10px;
                            }
                            &:hover{
                                .ex{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &.projects{
                .inner{
                    padding: 20px 0;
                    position: relative;
                    h1{
                        font: bold 50px/1 "Saira Extra Condensed";
                        letter-spacing: -1px;
                        margin-bottom: 50px;
                    }
                    > .con{
                        width: 90%;
                        height: calc(100% - 200px);
                        margin: 0 auto;
                        border-radius: 20px;
                        box-shadow:  0px 5px 10px 5px #8b8c89;
                        .frame{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            position: relative;
                            .panel{
                                width: 400%;
                                height: 100%;
                                display: flex;
                                transform: translateX(0%);
                                transition: 0.5s;
                                li{
                                    position: relative;
                                    width: 25%;
                                    height: 100%;
                                    .imgBox{
                                        position: absolute;
                                        top: 15%;
                                        left: 5%;
                                        width: 40%;
                                        height: 15vw;
                                        border-radius: 20px;
                                        // background-color: #000;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        overflow: hidden;
                                        img{
                                            height: 100%;
                                            border-radius: 20px;
                                        }
                                    }
                                    a{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 40%;
                                        height: 3vw;
                                        position: absolute;
                                        top: 23vw;
                                        left: 5%;
                                        background-color: #6096ba;
                                        border-radius: 20px;
                                        cursor: pointer;
                                        span{
                                            font: 1.7vw/1 "맑은 고딕";
                                            color: #fff;
                                        }
                                        &:hover{
                                            background-color: #527aa7;
                                            color: #e7ecef;
                                        }
                                    }
                                    h2{
                                        position: absolute;
                                        top: 10%;
                                        left: 47%;
                                        width: 50%;
                                        text-align: center;
                                        font: bold 2vw/1 "Saira Extra Condensed";
                                        letter-spacing: 1px;
                                    }
                                    > .txtBox{
                                        width: 50%;
                                        height: 70%;
                                        position: absolute;
                                        top: 20%;
                                        left: 47%;
                                        padding: 0 30px;
                                        display: flex;
                                        flex-direction: column;
                                        h3{
                                            font: bold 1.2vw/1 "맑은 고딕";
                                            color: #527aa7;
                                            margin-bottom: 15px;
                                            letter-spacing: -1px;
                                        }
                                        p{
                                            font: 1vw/1.4 "맑은 고딕";
                                            color: #555;
                                            margin-bottom: 30px;
                                            letter-spacing: 1px;
                                        }
                                    }
                                }
                            }
                            .prevBtn{
                                position: absolute;
                                left: 2%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                color: #000;
                                transition: 0.5s;
                                &:hover{
                                    color: #555;
                                }
                                cursor: pointer;
                                i{
                                    font-size: 30px;
                                }
                            }
                            .nextBtn{
                                position: absolute;
                                right: 1%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                color: #000;
                                transition: 0.5s;
                                &:hover{
                                    color: #555;
                                }
                                cursor: pointer;
                                i{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
